@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.main {
  max-width: 1152px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
}

.content {
  background: rgb(255, 255, 255);
  max-width: 1152px;
}

.nav {
  max-width: 1032px;
  height: 58px;
  margin: 0 auto;
}
.nav .nav_content {
  width: 340px;
  display: flex;
  justify-content: space-between;
  float: right;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: right;
  font-family: "Heebo", sans-serif;
  margin-top: 27px;
}

.nav_menuModal_conteiner {
  max-width: 1000px;
  height: 30px;
  display: none;
}

.nav_menuModal {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  display: none;
}
.nav_menuModal .Nav_menuModal_line {
  height: 0px;
  width: 30px;
  border: 1px solid rgb(33, 36, 61);
}

.header {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 158px;
  flex-wrap: wrap;
}
.header .Heaer_right {
  float: right;
}
.header .header_headers {
  font-family: "Heebo", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  width: 440px;
}
.header .header_text {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  width: 500px;
  margin-top: 40px;
}
.header .header_button {
  height: 47px;
  width: 208px;
  left: 148px;
  top: 477px;
  border-radius: 2px;
  background: rgb(255, 100, 100);
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 38px;
}

.RecentPost {
  margin-top: 71px;
  height: 396px;
  max-width: 1152px;
  background: rgb(237, 247, 250);
}
.RecentPost .RecentPost_header {
  display: flex;
  justify-content: space-between;
  max-width: 860px;
  margin: 0 auto;
  padding-top: 7px;
  align-items: center;
}
.RecentPost .RecentPost_header .RecentPost_header_TextLeft {
  font-family: "Heebo", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}
.RecentPost .RecentPost_header .RecentPost_header_TextRight {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 168, 204);
}
.RecentPost .RecentPost_Blocks {
  max-width: 860px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.RecentPost .RecentPost_Blocks .RecentPost_Block_left {
  height: 295px;
  width: 418px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}
.RecentPost .RecentPost_Blocks .RecentPost_blockRight {
  height: 295px;
  width: 418px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}
.RecentPost .RecentPost_Blocks .RecentPost_Blocks_header {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  width: 370px;
  margin: 0 auto;
  margin-top: 24px;
}
.RecentPost .RecentPost_Blocks .RecentPost_Blocks_Center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  margin-left: 23px;
  margin-top: 17px;
}
.RecentPost .RecentPost_Blocks .RecentPost_Blocks_Center .RecentPost_Blocks_Line {
  height: 21px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}
.RecentPost .RecentPost_Blocks .RecentPost_Blocks_Center .RecentPost_Blocks_Date {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #21243d;
}
.RecentPost .RecentPost_Blocks .RecentPost_Blocks_Center .RecentPost_Blocks_theme {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #21243d;
}
.RecentPost .RecentPost_Blocks .RecentPost_Blocks_Footer {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  width: 368px;
  margin: 0 auto;
  margin-top: 17px;
}

.ModalShov {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.ModalShov .ModalNav {
  width: 250px;
  height: 200px;
  border: 1px solid rebeccapurple;
  float: right;
  background-color: white;
}

.ModalNav_Close {
  width: 15px;
  height: 15px;
  background-color: black;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  position: relative;
  top: 5px;
  left: 220px;
}

.ModalNav_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  height: 160px;
}

.My_Works {
  max-width: 860px;
  margin: 0 auto;
  height: 785px;
  border: 1px solid red;
}
.My_Works .My_Works_TextHeader {
  font-family: "Heebo", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  color: #21243D;
}

.RedText {
  color: #FF6464;
}

.Blog {
  max-width: 682px;
  margin: 0 auto;
  margin-top: 60px;
}
.Blog .Blog_headers_text {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}
.Blog .Blog_content {
  margin-top: 55px;
}

.content_Container_heaer {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  color: #21243D;
}

.content_Container_middle {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
  margin-top: 10px;
}

.Container_middle_line {
  height: 21px;
  border: 1px solid #000000;
}

.Container_middle_time {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}

.Container_middle_text {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #8695A4;
}

.Container_Footer_text {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #21243D;
  max-width: 650px;
}

.content_Container_Footer {
  margin-top: 6px;
}

@media (max-width: 743px) {
  .nav {
    display: none;
  }
  .nav_menuModal_conteiner {
    display: block;
  }
  .nav_menuModal {
    display: flex;
    margin-top: 20px;
    margin-right: 18px;
  }
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Header_left {
    margin: 0 auto;
    margin-top: 43px;
  }
  .Header_left .header_headers {
    max-width: 270px;
    font-family: "Heebo", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto;
  }
  .Header_left .header_text {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: auto;
    max-width: 328px;
    text-align: center;
  }
  .Header_left .header_button {
    margin: 0 auto;
    display: block;
    margin-top: 36px;
  }
  .Heaer_right {
    margin: 0 auto;
  }
}
@media (max-width: 836px) {
  .RecentPost_Blocks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .RecentPost {
    height: 750px;
  }
  .RecentPost .RecentPost_blockRight {
    margin-top: 17px;
  }
  .RecentPost .RecentPost_header_TextRight {
    display: none;
  }
  .RecentPost .RecentPost_header {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */